/****************************************************************************/
/***START Heading banner code************************************************/

#logobar1 {
    background-color: red;
}

#logobar2 {
    background-color: white;
}

#logobar3 {
    background-color: blue;
}

#myName {
    font: bold 20px Arial;
    line-height: 30px;
    margin: 0;
    text-align: center;
}

.logobar {
    min-height: 30px;
    position: relative;
}

/***START Clock Code*********************************************************/

#clockAdj {
    color: white;
    font-size: .9em;
}

#clockDisplay {
    color: #00ff00;
    display: inline-block;
    font-family: alarmclock;
    font-size: 1.9rem;
    font-weight: bold;
}

#slider {
    background-color: #666666;
    display: inline-block;
    height: .5em;
    margin: auto;
    width: 100%;
}

@font-face {
    font-family: alarmclock;
    src: url(../fonts/alarmclock.ttf);
}

/***Disable Clock Adjustment for mobile devices******************************/
@media screen and (max-width: 1100px) {
  #clockAdj, #slider {
    visibility: hidden;
  }
}
  
/***END Clock code***********************************************************/

/***START Reader input styles************************************************/
#readerInput {
  font-size: 2em;
}

#welcome {
  vertical-align: middle;
}

input {
  background-color: #220033;
  max-width: 100%; 
}

/***END Reader input styles**************************************************/

/***START General styling code***********************************************/
.commonDiv {
	color: #bbbbbb;
}

.contactFooter {
	background-color: #6633ff;
	color: #220033;
}

.contactFooter a {
	color: #220033;
	text-decoration: none;
}

.darkHeader {
	color: #220033;
}

.purpleHeader {
	color: #7777ff;
}

.resume {
	background-color: white;
}

.techList {
	list-style-type: none; 
}

body {
    background: #220033;
}

ol, ul {
	list-style-type: inside; 
}

/***END of General styling code**********************************************/

/***Bootstrap required code for scrollspy************************************/

body {
	position: relative;
}

/***START Override bootstrap styles******************************************/

.carousel-caption > h3 {
	background-color: #339933; 
	border-radius: 25px;
	color: #ffffff;
}

.carousel-indicators {
	background-color: #339933;
	border-radius: 15px;
	margin-bottom: -1px;
}

.lead { 
	color: #aaaaff;
}

img {
  margin: auto;
}

/***END Override bootstrap styles********************************************/

/***START print and screen media styles for resume***************************/

@media screen {
		.printResume {
		display: none;
	}

    .tooltiptext {
    visibility: hidden;
    background-color: #FFFF00;
    border: solid black 2px;
    border-radius: 10px;
    position: relative;
    top: -35px;
    left: 40px;
    text-align: center;
    width: 40px;
  }

    .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -7px;
      border-width: 7px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }

    #printResume:hover + .tooltiptext {
      visibility: visible;
    }

}

/* Note: font sizes need to be larger due to bootstrap container width *****/
@media print {
	.myName {
		font-size: 13pt;
	}

	.printHide {
		display: none;
	}

	.resume {
		font-family: Garamond; 
		/*font-size: 15pt;*/
    font-size: 10pt;
	}
}

/***END print and screen media styles for resume*****************************/
